---
export interface Props {
  variant?: "default" | "compact";
}

const { variant = "default" } = Astro.props;
---

<div
  class={variant === "default" ? "newsletter-box my-8" : "newsletter-compact mt-6"}
>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/astroza"
    method="post"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" />
    <input type="submit" value="Subscribe" />
    <p>
      <a href="https://buttondown.com/refer/astroza" target="_blank" rel="noreferrer">
        Powered by Buttondown.
      </a>
    </p>
  </form>
</div>
